#### Let's create a function(with docstring)

In [7]:
def is_even(num):
    """This function returns if a given number is odd or even
    input- any valid integer
    output- odd/even
    created on- 12th July 2023
    """
    if type(num) == int:
        if num % 2== 0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'Format not valid!!'

In [8]:
# function 
# function_name(input)
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

#### 2 Point of views

In [9]:
is_even('hello')          # senior vs junior programmer

'Format not valid!!'

### Parameter vs argument

 Parameter is the thing that we created at begining
 Argument is that on which you put the value
 for eg in phone brightness setting is parameter but when we give a value to it, it became argument

### Types of arguments
-> Default Argument
-> Positional Argument
-> Keyword Argument

In [10]:
def power(a,b):
    return a**b

In [11]:
power(3)

TypeError: power() missing 1 required positional argument: 'b'

In [12]:
# to overcome this we make changes by giving default argument
def power(a=1,b=1):
    return a**b

In [13]:
power(2)

2

In [14]:
# Positonal argument
power(2,3)   #first value given to a and second to b

8

In [15]:
# Keyword argument you can pass arguments by giving names
power(b=3,a=2)

8

```*args and  **kwargs```
*args and *kwargs are special Python Keywords that are used to pass the varaible length of arguments to a function

In [20]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.
def multiply(*args):
    product = 1
    
    for i in args:
        product = product * i
        
    return product

In [21]:
multiply(1,2,3,4,5,6,7,8)

40320

In [16]:
def multiply(*kwargs):
  product = 1

  for i in kwargs:
    product = product * i

  print(kwargs)
  return product

In [17]:
multiply(1,2,3,4,5,6,7,8,9,10,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)

43545600

In [18]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**salman):

  for (key,value) in salman.items():
    print(key,'->',value)

In [19]:
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice

In [23]:
print(is_even.__doc__)   # to see the documentation of a function
print(print.__doc__)

This function returns if a given number is odd or even
    input- any valid integer
    output- odd/even
    created on- 12th July 2023

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

### How function memory is allocated

https://pythontutor.com/render.html#mode=display 
see this using this website

### Without return statement

In [24]:
L = [1,2,3]
print(L.append(4))

None

In [25]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

### Variable Scope

In [3]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

In [4]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [5]:
def h(y):
    x += 1
x = 5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [6]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

## Nested function

In [7]:
def f():
  def g():
    print('inside function g')
    f()
  g()
  print('inside function f')

In [ ]:
f()

In [1]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)

in g(x): x = 4

In [1]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

in g(x): x =  4
in h(x): x =  5
in main program scope: x =  3
in main program scope: z =  4

## Functions are first class citizens
i.e. they are considered as a datatype on which we can do any operations.

In [8]:
# type and id
def square(num):
    return num**2

type(square)
id(square)

1943712322832

In [9]:
# reassign
x = square
id(x)
x(3)

9

In [5]:
# deleting a function
del square

In [6]:
square(3)

NameError: name 'square' is not defined

In [10]:
# storing
L = [1,2,3,4,square]
L[-1](3)

9

In [11]:
s = {square}
s

{<function __main__.square(num)>}

In [13]:
# returning a function

In [14]:
def f():
    def x(a, b):
        return a+b
    return x
    
val = f()(3,4)
print(val)

7

In [15]:
# function as argument

In [16]:
def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

## Lambda Function

In [17]:
# x -> x^2
lambda x:x**2

In [18]:
# x,y -> x+y
a = lambda x,y:x+y
a(5,2)

7

#### Diff between lambda vs Normal Function

- No name
- lambda has no return value(infact,returns a function)
- lambda is written in 1 line
- not reusable

Then why use lambda functions?<br>
**They are used with HOF**

In [19]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

In [20]:
# odd or even
a = lambda x:'even' if x%2 == 0 else 'odd'
a(6)

'even'

### Higher Order Functions

In [21]:
# Example

def square(x):
  return x**2

def cube(x):
  return x**3

# HOF
def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))

  print(output)

L = [1,2,3,4,5]

transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

### Map

In [22]:
# square the items of a list
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [23]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [24]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

### Filter

In [25]:
# numbers greater than 5
L = [3,4,5,6,7]

list(filter(lambda x:x>5,L))

[6, 7]

In [26]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

### Reduce

In [27]:
# sum of all item
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [28]:
# find min
functools.reduce(lambda x,y:x if x>y else y,[23,11,45,10,1])

45